
<form *ngIf="!selected">
<h2>New Watering Form</h2><br>
<input type="number" name="id" placeholder="Watering ID" [(ngModel)]="newWatering.id"><br>
<input type="text" name="name" placeholder="Garden Name" [(ngModel)]="newWatering.name"><br>
<input type="text" name="sector" placeholder="Sector" [(ngModel)]="newWatering.sector"><br>
<input type="text" name="veggie" placeholder="Veggie" [(ngModel)]="newWatering.veggie"><br>
<input type="text" name="wateringFrequency" placeholder="Watering Frequency" [(ngModel)]="newWatering.wateringFrequency"><br>
<input type="text" name="lastWatered" placeholder="Date Last Watered" [(ngModel)]="newWatering.lastWatered"><br>
<input type="text" name="nextWatered" placeholder="Date of Next Watering" [(ngModel)]="newWatering.nextWatered"><br>
<input type="number" name="durationOfWatering" placeholder="Duration of Watering(mins)" [(ngModel)]="newWatering.durationOfWatering"><br>
<input type="text" name="notes" placeholder="Notes" [(ngModel)]="newWatering.notes"><br>
<button (click)="create()">Create New Watering</button>
</form>
<br>
<br>

<!-- <span *ngFor="let type of types" (click)= "selectedType = type">{{type}} | </span> -->

<table>
<h2>List Of Watering Events</h2><br>
<table *ngIf="!selected">
<thead>
  <tr>
    <td>ID </td>
    <td>Garden Name </td>
    <td>Sector</td>
    <td>Veggie</td>
    <td>Watering Frequency</td>
    <td>Date Last Watered</td>
    <td>Date Next Watering </td>
    <td>Duration of Watering(mins)</td>
    <td>Notes</td>
  </tr>
</thead>

<tbody>
  <tr *ngFor="let water of waterings "(click)="this.selected(water)">
    <!-- (click)="this.selected(water)" -->
    <td>{{ water.id}}</td>
    <td>{{ water.name}}</td>
    <td>{{ water.sector}}</td>
    <td>{{ water.veggie}}</td>
    <td>{{ water.wateringFrequency}}</td>
    <td>{{ water.lastWatered}}</td>
    <td>{{ water.nextWatered}}</td>
    <td>{{ water.durationOfWatering}}</td>
    <td>{{ water.notes}}</td>

 <!-- <td>{{ water.name | uppercase}}</td> -->

  </tr>
</tbody>
</table>


<div *ngIf="selected">
  <h3>{{selected.name}}</h3>
  <p>{{selected.description}}</p>
  <!-- <p>Height: {{selected.height | number:'1.1'}}</p>
  <p>Weight: {{selected.weight | number:'1.1'}}</p> -->


  <!-- <ul>
      <li *ngFor="let type of selected.types">{{type.name}}</li>
  </ul> -->
  <button (click)="showTable()">Go Back To Table</button>
</div>
