<form *ngIf="!selected && !editWatering">
  <h2>New Watering Form</h2><br>
  <!-- <input type="hidden" name="id" placeholder="Watering ID" [(ngModel)]="newWatering.id"><br> -->
  <input type="text" name="name" placeholder="Garden Name" [(ngModel)]="newWatering.name"><br>
  <input type="text" name="sector" placeholder="Sector" [(ngModel)]="newWatering.sector"><br>
  <input type="text" name="veggie" placeholder="Veggie" [(ngModel)]="newWatering.veggie"><br>
  <input type="text" name="wateringFrequency" placeholder="Watering Frequency" [(ngModel)]="newWatering.wateringFrequency"><br>
  <input type="date" name="lastWatered" placeholder="Date Last Watered" [(ngModel)]="newWatering.lastWatered"><br>
  <input type="date" name="nextWatered" placeholder="Date of Next Watering" [(ngModel)]="newWatering.nextWatered"><br>
  <input type="number" name="durationOfWatering" placeholder="Duration of Watering(mins)" [(ngModel)]="newWatering.durationOfWatering"><br>
  <input type="text" name="notes" placeholder="Notes" [(ngModel)]="newWatering.notes"><br>
  <button (click)="create()">Create New Watering</button>
 </form>
  <br>
  <br>

  <h2>List Of Watering Events</h2>
  <table *ngIf="!selected">
    <thead>
    <tr>
      <td>ID </td>
      <td>Garden Name </td>
      <td>Sector</td>
      <td>Veggie</td>
      <td>Watering Frequency</td>
      <td>Date Last Watered</td>
      <td>Date Next Watering </td>
      <td>Duration of Watering(mins)</td>
      <td>Notes</td>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let water of waterings "(click)="selectWatering(water)">
      <!-- (click)="this.selected(water)" -->
      <td>{{ water.id}}</td>
      <td>{{ water.name}}</td>
      <td>{{ water.sector}}</td>
      <td>{{ water.veggie}}</td>
      <td>{{ water.wateringFrequency}}</td>
      <td>{{ water.lastWatered}}</td>
      <td>{{ water.nextWatered}}</td>
      <td>{{ water.durationOfWatering}}</td>
      <td>{{ water.notes}}</td>


   <!-- <td>{{ water.name | uppercase}}</td> -->
    </tr>
  </tbody>
  </table>

  <div *ngIf="selected && !editWatering">
    <p>ID: {{ selected.id}}</p>
    <p>Garden Name: {{ selected.name}}</p>
    <p>Sector: {{ selected.sector}}</p>
    <p>Veggie: {{ selected.veggie}}</p>
    <p>Watering Frequency: {{ selected.wateringFrequency}}</p>
    <p>Date Last Watered: {{ selected.lastWatered}}</p>
    <p>Date of Next Watering: {{ selected.nextWatered}}</p>
    <p>Duration of Watering(mins): {{ selected.durationOfWatering}}</p>
    <p>Notes: {{ selected.notes}}</p>
    <!-- <p>Height: {{selected.height | number:'1.1'}}</p>
    <p>Weight: {{selected.weight | number:'1.1'}}</p> -->

    <td><button (click)="edit(selected)">Update</button></td>
    <button (click)="destroy(selected.id)">Remove Watering</button>
    <button (click)="showTable()">Go Back To Table</button>
  </div>


    <form *ngIf='editWatering'>
      <input type="hidden" name="id" placeholder="Id" [(ngModel)]="editWatering.id"><br>
      <input type="text" name="name" placeholder="Garden Name" [(ngModel)]="editWatering.name"><br>
      <input type="text" name="sector" placeholder="Sector" [(ngModel)]="editWatering.sector"><br>
      <input type="text" name="veggie" placeholder="Veggie" [(ngModel)]="editWatering.veggie"><br>
      <input type="text" name="wateringFrequency" placeholder="Watering Frequency" [(ngModel)]="editWatering.wateringFrequency"><br>
      <input type="date" name="lastWatered" placeholder="Date Last Watered" [(ngModel)]="editWatering.lastWatered"><br>
      <input type="date" name="nextWatered" placeholder="Date of Next Watering" [(ngModel)]="editWatering.nextWatered"><br>
      <input type="number" name="durationOfWatering" placeholder="Duration of Watering(mins)" [(ngModel)]="editWatering.durationOfWatering"><br>
      <input type="text" name="notes" placeholder="Notes" [(ngModel)]="editWatering.notes"><br>
      <button (click)="update(editWatering)">Update</button>
    </form>
